@import './base.css';

#app {
  max-width: 1580px;
  margin: 0 auto;
  padding:1rem;
  font-weight: normal;
  border:1px solid #ca75a9;
  border-radius:15px;
}

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  color: #ac4584;
  transition: 0.1s;
}

footer{
  text-align: center;
}
@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    border-bottom:2px solid #ca75a9;
  }
}

.bubble-tea{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
    min-width:500px;
    padding: 2rem;
  }
}
